<section class="container how">
  <h2 id="how we do it" class="title-section">Как мы это делаем</h2>
  <div class="background">
    <div class="bg">
      <svg class="icon-book" width="68px" height="48px">
        <use href="../sprite.svg#icon-study-program" class="icon"></use>
      </svg>
      <h3 class="title">Адаптированная программа подготовки к ВНО</h3>
      <div class="element">
        <svg class="icon-1" width="33px" height="4px">
          <use href="../sprite.svg#icon--1" class="icon"></use>
        </svg>
      </div>
      <p class="title-text">
        Ты будешь изучать грамматику и лексику одновременно. И ты научишься
        писать сочинения.
      </p>
    </div>

    <div class="bg">
      <svg class="icon-book" width="68px" height="48px">
        <use href="../sprite.svg#icon-mobile-learning" class="icon"></use>
      </svg>
      <h3 class="title">Аудитория и онлайн-обучение</h3>
      <div class="element">
        <svg class="icon-1" width="33px" height="4px">
          <use href="../sprite.svg#icon--1" class="icon"></use>
        </svg>
      </div>
      <p class="title-text">
        Учитель поможет не только в аудитории, но и во время домашней
        подготовки. Родители могут участвовать в чате при желании.
      </p>
    </div>

    <div class="bg">
      <svg class="icon-book" width="68px" height="48px">
        <use href="../sprite.svg#icon-open-book" class="icon"></use>
      </svg>
      <!-- <span class="element"></span> -->
      <h3 class="title">Привычка читать на английском языке</h3>
      <div class="element">
        <svg class="icon-1" width="33px" height="4px">
          <use href="../sprite.svg#icon--1" class="icon"></use>
        </svg>
      </div>
      <p class="title-text">
        Статьи из источников, которые используются при разработке настоящего
        ВНО, будут приходить на телефон дважды в неделю.
      </p>
    </div>

    <div class="bg">
      <svg class="icon-book" width="68px" height="48px">
        <use href="../sprite.svg#icon-Group" class="icon"></use>
      </svg>
      <h3 class="title">Психологическая поддержка</h3>
      <div class="element">
        <svg class="icon-1" width="33px" height="4px">
          <use href="../sprite.svg#icon--1" class="icon"></use>
        </svg>
      </div>
      <p class="title-text">
        Мы научим тебя методикам прохождения тестирований, умению планировать
        свою подготовку уверенности в себе.
      </p>
    </div>

    <div class="bg">
      <svg class="icon-book" width="68px" height="48px">
        <use href="../sprite.svg#icon-female-student" class="icon"></use>
      </svg>
      <h3 class="title">Обучение по авторским пособиям</h3>
      <div class="element">
        <svg class="icon-1" width="33px" height="4px">
          <use href="../sprite.svg#icon--1" class="icon"></use>
        </svg>
      </div>
      <p class="title-text">
        Тебе не нужно тратить время на самостоятельный поиск материала и ничего
        покупать дополнительно. Мы составили 2 пособия для тебя.
      </p>
    </div>

    <div class="bg">
      <svg class="icon-book" width="68px" height="48px">
        <use href="../sprite.svg#icon-audio-book" class="icon"></use>
      </svg>
      <h3 class="title">Умение воспринимать устную английскуб речь</h3>
      <div class="element">
        <svg class="icon-1" width="33px" height="4px">
          <use href="../sprite.svg#icon--1" class="icon"></use>
        </svg>
      </div>
      <p class="title-text">
        “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и разбирать
        аудиозаписи в соответствии с изучаемой лексикой.
      </p>
    </div>
  </div>
</section>
