<section class="program-section">
  <div class="container">
    <h2 id="program" class="section-title">Наша Программа</h2>
    <ul class="list program-list">
      <li class="program-item">
        <h3 class="program-title">1 семестр</h3>
        <ul class="list program-second-list">
          <li class="program-second-item">
            <div class="program-four">
              <h4 class="program-second-title">Grammar</h4>
              <ul class="list">
                <li class="program-description">Nouns & Articles</li>
                <li class="program-description">Adjectives & Adverb</li>
              </ul>
            </div>
          </li>
          <li class="program-second-item">
            <h4 class="program-second-title">Vocabulary</h4>
            <ul class="list last">
              <li class="program-description">Family & Relations</li>
              <li class="program-description">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-title">2 семестр</h3>
        <ul class="list program-second-list">
          <li class="program-second-item">
            <div class="program-four">
              <h4 class="program-second-title">Grammar</h4>
              <ul class="list">
                <li class="program-description">Pronouns</li>
                <li class="program-description">Active Voice</li>
                <li class="program-description">Passive Voice</li>
              </ul>
            </div>
          </li>
          <li class="program-second-item">
            <h4 class="program-second-title">Vocabulary</h4>
            <ul class="list last">
              <li class="program-description">Home</li>
              <li class="program-description">School</li>
              <li class="program-description">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-title">3 семестр</h3>
        <ul class="list program-second-list">
          <li class="program-second-item">
            <div class="program-four">
              <h4 class="program-second-title">Grammar</h4>
              <ul class="list">
                <li class="program-description">Modal verbs</li>
                <li class="program-description">Infinitive</li>
                <li class="program-description">Gerund</li>
                <li class="program-description">Participle: 1, 2</li>
              </ul>
            </div>
          </li>
          <li class="program-second-item">
            <div class="program-four">
              <h4 class="program-second-title">Vocabulary</h4>
              <ul class="list">
                <li class="program-description">Travel & Tourism</li>
                <li class="program-description">Culture & Free Time</li>
                <li class="program-description">Sport</li>
              </ul>
            </div>
          </li>
          <li class="program-second-item">
            <h4 class="program-second-title">Writing</h4>
            <p class="program-description last">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program-item">
        <h3 class="program-title">4 семестр</h3>
        <ul class="list program-second-list">
          <li class="program-second-item">
            <div class="program-four">
              <h4 class="program-second-title">Grammar</h4>
              <ul class="list">
                <li class="program-description">
                  Clauses: Conditional and Wishes
                </li>
                <li class="program-description">Direct / Reported speech</li>
                <li class="program-description">Preposition</li>
                <li class="program-description">Conjunction</li>
                <li class="program-description">Numeral</li>
              </ul>
            </div>
          </li>
          <li class="program-second-item">
            <div class="program-four">
              <h4 class="program-second-title">Vocabulary</h4>
              <ul class="list">
                <li class="program-description">Healthy Living</li>
                <li class="program-description">Nature & Environment</li>
                <li class="program-description">Money</li>
              </ul>
            </div>
          </li>
          <li class="program-second-item">
            <h4 class="program-second-title">Writing</h4>
            <p class="program-description last">Formal Letter</p>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="program-title">5 семестр</h3>
        <ul class="list for-psevdo">
          <li class="program-description">Revision</li>
          <li class="program-description">Tests</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
