<section class="section-problems">
  <div class="container">
    <h2 class="section-title white">
      Главные проблемы учеников
      <span class="span">на English ВНО,</span> которые
      <span class="span"
        >мы <span class="orange-color">помогаем</span> решить</span
      >
    </h2>
    <ul class="problems-list list">
      <li class="problems-item item">
        <p class="number">— 01</p>
        <h3 class="text">Название грамматики</h3>
      </li>
      <li class="problems-item item">
        <p class="number">— 02</p>
        <h3 class="text">Неумение воcпринимать устную английскую речь</h3>
      </li>
      <li class="problems-item item">
        <p class="number">— 03</p>
        <h3 class="text">Скупой словарный запас для написания сочинения</h3>
      </li>
      <li class="problems-item item">
        <p class="number">— 04</p>
        <h3 class="text">Подготовка в одиночку</h3>
      </li>
      <li class="problems-item item">
        <p class="number">— 05</p>
        <h3 class="text">Отсутствие единого ресурса знаний</h3>
      </li>
      <li class="problems-item item">
        <p class="number">— 06</p>
        <h3 class="text">Недостаток самоорганизации и лень</h3>
      </li>
    </ul>
  </div>
</section>
