<section class="reviews">
  <div class="container">
    <h2 class="section-title">Отзывы выпускников</h2>
    <div class="slider">
      <button class="prev">
        <svg class="icon-arrow left">
          <use href="../sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <div class="siema">
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Тоня Кучеровская</p>
            <p class="student-education">
              Выпуск 2015-го года, Національний університет біоресурсів і
              природокористування України
            </p>
            <div class="student-about" id="r0">
              <p>
                За короткий час занять з Оленою я опанувала граматику і
                поповнила свій зовсім пустий словниковий запас. З першого ж
                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою
                стали друзями, тому що її справді хвилювала моя успішність. Вона
                стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                страх зробити найменшу помилку. Зараз я можу похизуватись тим,
                що я студен ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                За короткий час занять з Оленою я опанувала граматику і
                поповнила свій зовсім пустий словниковий запас. З першого ж
                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою
                стали друзями, тому що її справді хвилювала моя успішність. Вона
                стала для мене авторитетом, проте я не тремтіла на уроках, маючи
                страх зробити найменшу помилку. Зараз я можу похизуватись тим,
                що я студен Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Ratione iusto aspernatur vitae assumenda enim eius est
                atque. Reiciendis, culpa molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Копылова Беатриса"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Копылова Беатриса</p>
            <p class="student-education">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="student-about" id="r0">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur non neque similique eos animi necessitatibus
                obcaecati! Modi repellendus cumque harum quis aperiam voluptatem
                eos esse laboriosam ab, facere repellendus mollitia debitis,
                explicabo velit ratione reiciendis doloremque asperiores
                pariatur eum quam maxime fugit possimus nisi qui. Esse
                necessitatibus doloremque dolores recusandae delectus. ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur non neque similique eos animi necessitatibus
                obcaecati! Modi repellendus cumque harum quis aperiam voluptatem
                eos esse laboriosam ab, facere mollitia debitis, explicabo velit
                ratione reiciendis doloremque asperiores pariatur eum quam
                maxime fugit possimus nisi qui. Esse necessitatibus doloremque
                dolores recusandae delectus. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Ratione iusto aspernatur vitae
                assumenda enim eius est atque. Reiciendis, culpa molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Негода Кристина"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Негода Кристина</p>
            <p class="student-education">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
              iusto.
            </p>
            <div class="student-about" id="r0">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                sequi quia ex atque? Earum, facere? Adipisci, soluta. Doloribus
                veniam at amet quos? Iusto quod sit a. Recusandae officia fugit
                animi impedit tempora aliquid veritatis repudiandae maxime, quia
                quis eveniet perferendis suscipit, accusantium aliquam! Commodi
                quia quis autem fugit totam exercitationem tenetur itaque?
                Adipisci, inventore tenetur. ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                sequi quia ex atque? Earum, facere? Adipisci, soluta. Doloribus
                veniam at amet quos? Iusto quod sit a. Recusandae officia fugit
                animi impedit tempora aliquid veritatis repudiandae maxime, quia
                quis eveniet perferendis suscipit, accusantium aliquam! Commodi
                quia quis autem fugit totam exercitationem tenetur itaque?
                Adipisci, inventore tenetur Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Ratione iusto aspernatur vitae
                assumenda enim eius est atque. Reiciendis, culpa molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Мишина Ника "
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Мишина Ника</p>
            <p class="student-education">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem rem
              molestiae alias commodi.
            </p>
            <div class="student-about" id="r0">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                adipisci saepe minus id nesciunt earum, impedit possimus
                voluptatem consequuntur. Et ullam expedita ratione quos illum.
                Velit facere eius incidunt! Atque nam adipisci odit sint! Ut
                praesentium nihil excepturi vel expedita, sunt voluptatibus?
                Ullam esse in quia voluptatibus alias beatae expedita. ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                adipisci saepe minus id nesciunt earum, impedit possimus
                voluptatem consequuntur. Et ullam expedita ratione quos illum.
                Velit facere eius incidunt! Atque nam adipisci odit sint! Ut
                praesentium nihil excepturi vel expedita, sunt voluptatibus?
                Ullam esse in quia voluptatibus alias beatae expedita. Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ratione iusto
                aspernatur vitae assumenda enim eius est atque. Reiciendis,
                culpa molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Исакова Ульяна"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Исакова Ульяна</p>
            <p class="student-education">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit perspiciatis tenetur nulla!
            </p>
            <div class="student-about" id="r0">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident recusandae reprehenderit delectus nesciunt molestias
                quia, iste magni arch, expedita minus eius voluptates dicta sunt
                perferendis modi repellendus! Expedita nulla provident ullam
                consequuntur, nostrum iste illo ipsam in! Beatae, fugiat
                temporibus veniam, nesciunt officiis quo voluptate iure, tenetur
                assumenda ex delectus impedit vitae alias laborum....
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident recusandae reprehenderit delectus nesciunt molestias
                quia, iste magni architecto inventore, expedita minus eius
                voluptates dicta sunt perferendis modi repellendus! Expedita
                nulla provident ullam consequuntur, nostrum iste illo ipsam in!
                Beatae, fugiat temporibus veniam, nesciunt officiis quo
                voluptate iure, tenetur assumenda ex delectus impedit vitae
                alias laborum. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ratione iusto aspernatur vitae assumenda enim
                eius est atque. Reiciendis, culpa molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Федункив Зоя"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Федункив Зоя</p>
            <p class="student-education">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga.
            </p>
            <div class="student-about" id="r0">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus sunt dolorum eum suscipit quos dolores, aliquid,
                veniam, ab ducimus assumenda dolorem quas enim eaque. Aliquid
                numquam, adipisci animi laudantium eveniet qui? A in sit
                similique eos natus beatae adipisci, hic vitae itaque unde nisi
                fugiat voluptates tenetur deserunt animi iure excepturi impedit
                sapiente eaque quam facilis delectus? ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus sunt dolorum eum suscipit quos dolores, aliquid,
                veniam, ab ducimus assumenda dolorem quas enim eaque. Aliquid
                numquam, adipisci animi laudantium voluptatem eveniet qui? A in
                sit similique eos natus beatae adipisci, hic vitae itaque unde
                nisi fugiat voluptates tenetur deserunt animi iure excepturi
                impedit sapiente eaque quam facilis delectus Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Ratione iusto aspernatur
                vitae assumenda enim eius est atque. Reiciendis, culpa
                molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="slick-slider-item">
          <div class="foto-block">
            <picture>
              <source
                media="(min-width: 1314px)"
                srcset="
                  ./images/reviews/student-6-main-1314.jpg    1x,
                  ./images/reviews/student-6-main-1314@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/reviews/student-6-main-768.jpg    1x,
                  ./images/reviews/student-6-main-768@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/reviews/student-6-main-320.jpg    1x,
                  ./images/reviews/student-6-main-320@2x.jpg 2x
                "
              />
              <img
                src="./images/reviews/student-6-main-1314.jpg"
                alt="Колесник Надежда"
              />
            </picture>
            <svg class="icon-vk">
              <use href="../sprite.svg#icon-vk"></use>
            </svg>
          </div>
          <div class="text-block">
            <p class="student-name">Колесник Надежда</p>
            <p class="student-education">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
              voluptatum.
            </p>
            <div class="student-about" id="r0">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatum accusamus commodi saepe cupiditate iste, praesentium
                voluptatibus et modi, aut ad necessitatibus nulla dolorem!
                Pariatur hic accusamus cupiditate ab in, labore temporibus nulla
                commodi amet recusandae deserunt? Numquam quasi officia saepe ea
                cupiditate perspiciatis nostrum ut sed nihil. Ipsa ducimus
                repellendus similique placeat fugiat expedita quod. ...
                <a
                  class="read-more"
                  href="javascript:change_visibility ('r0', 'r1')"
                  >Читать дальше</a
                >
              </p>
            </div>
            <div class="student-about" id="r1" style="display: none">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatum accusamus commodi saepe cupiditate iste, praesentium
                voluptatibus molestias et modi, aut ad necessitatibus nulla
                dolorem! Pariatur hic accusamus laboriosam cupiditate ab in,
                labore temporibus nulla commodi amet recusandae deserunt?
                Numquam quasi officia saepe ea cupiditate perspiciatis nostrum
                ut sed nihil. Ipsa ducimus repellendus similique placeat fugiat
                expedita quod. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ratione iusto aspernatur vitae assumenda enim
                eius est atque. Reiciendis, culpa molestiae?
                <a
                  class="read-more"
                  href="#"
                  onClick="change_visibility ('r1', 'r0')"
                  >Свернуть</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <button class="next">
        <svg class="icon-arrow right">
          <use href="../sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
