<section class="warranty-section section">
  <div class="container">
    <h2 class="section-title">Мы гарантируем</h2>
    <ul class="warrenty-list">
      <li class="warrenty-item">
        <p class="text-warr">
          Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
          тестировании. Иначе мы вернем деньги.<span class="accent-text"
            >*</span
          >
        </p>
      </li>
      <li class="warrenty-item">
        <p class="text-warr">
          Ты научишься писать сочинения минимум на 10 баллов из 14.
          <span class="accent-text"
            >В то время как 20% учеников получили за сочинение 0.</span
          >
        </p>
      </li>
      <li class="warrenty-item">
        <p class="text-warr">
          Ты будешь заниматься в своем районе. Мы выберем место проведения
          занятий после формирования команд.
        </p>
      </li>
      <li class="warrenty-item">
        <p class="text-warr">
          Команды будут сформированы, исходя из начального уровня учеников. Мы
          учитываем особенности каждого ученика.
        </p>
      </li>
    </ul>
  </div>
</section>
