<section class="choosen-section">
  <div class="container">
    <h2 class="choosen-title">Почему нас выбирают</h2>
    <div class="choosen-container">
      <ul class="list choosen-list">
        <li class="choosen-item">
          <h3 class="choosen-title-item">01</h3>
          <p class="choosen-description">Обучение в малых командах</p>
        </li>
        <li class="choosen-item">
          <h3 class="choosen-title-item">02</h3>
          <p class="choosen-description">Визуализированные конспекты</p>
        </li>
        <li class="choosen-item">
          <h3 class="choosen-title-item">03</h3>
          <p class="choosen-description">
            Каждое занятие имеет цель и конкретный результат
          </p>
        </li>
        <li class="choosen-item">
          <h3 class="choosen-title-item">04</h3>
          <p class="choosen-description">Реальные результаты преподавателя</p>
        </li>
        <li class="choosen-item">
          <h3 class="choosen-title-item">05</h3>
          <p class="choosen-description">
            Прогамма курса соответствует требованиям МОН Украины
          </p>
        </li>
        <li class="choosen-item">
          <h3 class="choosen-title-item">06</h3>
          <p class="choosen-description">Набор команд по уровням знаний</p>
        </li>
      </ul>
    </div>
  </div>
</section>
